sound-effect {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
}
audio-loop {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
}

audio.custom-audio {
  flex-grow: 1;
}
button.audio-control {
  margin: 0 2px;
  width: 3rem;
  height: 3rem;
  padding: 0;
  position: relative;
  overflow: hidden;
  display: inline-flex;
}
button.audio-control::before {
  position: absolute;
}

/* PLAY Sign */
button.audio-control.play::before {
  font-size: 2.55rem;
  top: -10%;
  left: 17%;
  content: '\25B7';
}

button.audio-control.play.playing {
  font-weight: bold;
  background-color: var(--color-primary-active);
}

/* STOP Sign */
button.audio-control.play.playing::before {
  font-size: 4rem;
  top: -44%;
  left: 2%;
  content: '\25A1';
}

/* REPLAY FROM START Sign */
button.audio-control.play.playing.reset::before {
  content: '\21BA';
}

/* LOOP Sign */
button.audio-control.loop::before {
  font-size: 3rem;
  top: -18%;
  left: 0%;
  content: '\21BA';
}

button.audio-control.loop {
  background-color: var(--audio-timeline-bg-loop-color);
}
button.audio-control.loop.looping {
  /* color: var(--color-primary-active); */
  background-color: var(--color-primary-active);
  /* outline: 2px solid var(--color-primary-active); */
}

/***********************************************/
/************** TIME-RANGE *********************/
/***********************************************/

:root {
  --audio-timeline-height: 3rem;
  --audio-timeline-thumb-width: 4px;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 50rem;
  height: var(--audio-timeline-height);
  margin: 0;
  display: inline-flex;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--audio-timeline-bg-color);
  border-radius: 0;
  height: var(--audio-timeline-height);
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 0px; /* Centers thumb on the track */
  background-color: var(--audio-timeline-thumb-color);
  border-radius: 0;
  height: var(--audio-timeline-height);
  width: var(--audio-timeline-thumb-width);
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: none;
}

/* NOT SURE!!! Might be -> slider 'played parts' for chrome etc. */
input[type="range"]::before {
  background-color: var(--audio-timeline-bg-played-color);
  height: var(--audio-timeline-height);
}

/*********** MS styles ***************/
/* slider 'played parts' */
input[type="range"]::-ms-fill-lower {
  background-color: var(--audio-timeline-bg-played-color);
  height: var(--audio-timeline-height);
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--audio-timeline-bg-color);
  border-radius: 0;
  height: var(--audio-timeline-height);
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: var(--audio-timeline-thumb-color);
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0;
  height: var(--audio-timeline-height);
  width: var(--audio-timeline-thumb-width);
}

input[type="range"]:focus::-moz-range-thumb{
  outline: none;
}

/* slider 'played parts' */
input[type="range"]::-moz-range-progress {
  background-color: var(--audio-timeline-bg-played-color);
  height: var(--audio-timeline-height);
}