#dashboard {
  position: relative;
  background-color: #171717;
  z-index: 100;
  width: 66vw;
  height: 100vh;
  flex-grow: 1;
  overflow-y: scroll;
}

#pre-post-show {
  padding: 2rem;
}

#show {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 2rem;
}

#show-sfx {
  margin-bottom: 2rem;
}
