:root {
  --audio-timeline-height: 2rem;
  --audio-timeline-thumb-width: 4px;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  background-position: left;
  cursor: pointer;
  width: 50rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #3d3846;
  background-position: left;
  border-radius: 0;
  height: var(--audio-timeline-height);
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 0px; /* Centers thumb on the track */
  background-color: #ffffff;
  border-radius: 0;
  height: var(--audio-timeline-height);
  width: var(--audio-timeline-thumb-width);
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: none;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #3d3846;
  background-position: left;
  border-radius: 0;
  height: var(--audio-timeline-height);
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #ffffff;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0;
  height: var(--audio-timeline-height);
  width: var(--audio-timeline-thumb-width);
}

input[type="range"]:focus::-moz-range-thumb{
  outline: none;
}