:root {
  --color-text-lights: #e3e33f;
  --color-text-wait: #3f8ee3;
  --color-text-audio: var(--color-text);
}

#the-play {
  position: relative;
  padding: 2rem;
  min-width: 33vw;
  height: 100vh;
  overflow-y: scroll;
  color: var(--color-text);
  transition: 300ms;
}

#the-play.pushed {
  margin-top: 80vh;
}

show-point {
  position: relative;
  display: block;
  padding: 1rem;
  background-color: var(--audio-timeline-bg-color);
  border: 3px solid var(--audio-timeline-bg-played-color);
  margin-bottom: 1rem;
}

show-point.section {
  background-color: var(--color-primary);
  font-size: 3rem;
  color: #fff;
}

trigger {
  font-size: 200%;
  display: block;
}

trigger.event {
  font-weight: 700;
}

trigger.text {
  font-style: italic;
}

trigger.text::before,
trigger.text::after {
  content: '"';
}

actions {
  display: block;
  position: relative;
  font-size: 150%;
}

actions > * {
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}

light {
  color: var(--color-text-lights);
}

wait {
  color: var(--color-text-wait);
}

audio-link button {
  font-size: inherit;
  color: var(--color-text-audio);
  background-color: transparent;
}

audio-link button:hover, audio-link button:active, audio-link button:focus {
  opacity: 0.5;
}

light::before,
wait::before,
audio-link button::before {
  display: inline-block;
  text-align: center;
  width: 3rem;
}

light::before {
  content: '\1F4A1'
}

wait::before {
  content: '\1F4A4'
}

audio-link button::before {
  content: '\1F508';
}

audio-link[action="stop"] button::before,
audio-link[action*="fade-out"] button::before {
  content: '\1F507';
}

audio-link[action="lower"] button::before {
  content: '\1D193';
  font-size: 200%;
  font-weight: 700;
  line-height: 0;
  position: relative;
  top: 1.3rem;
}

audio-link[action="reset"] button::before {
  content: '\229C';
}
