:root {
  /* --color-primary: #3183ec; */
  /* --color-primary-active: #7ed8f4; */
  --color-primary: #893fe3;
  --color-primary-active: #3183ec;
  --color-text: #dddddd;
  --audio-timeline-bg-color: #4a4a4a;
  --audio-timeline-bg-played-color: rgba(140, 140, 140, 0.5);
  --audio-timeline-thumb-color: #ffffff;
  --audio-volume-bg-color: #4a4a4a;
  --audio-volume-bg-present-color: linear-gradient(90deg, var(--color-primary) 0%, #ffffff 100%);
}

body {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: #171717;
}
#pre-post-show {
  padding: 2rem;
}
#show {
  display: flex;
  width: inherit;
}
#show-music, #show-sfx {
  width: 30rem;
  padding: 2rem;
}

button {
  background-color: var(--color-primary);
  color: #000000;
  border: 0;
}